<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
      </h3>
      
      <hr/>
      <h3>Users</h3>
      
      <table>
         <thead>
            <tr>
               <th>User</th>
               <th>Nampe</th>
               <th>PubKey</th>
               <th>Pin</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in User%}
               <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.display_name }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.displayname }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
