<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
      </h3>
      
      <hr/>
      <h3>Users</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.id }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
